body{
    background-color: gray;
}

.container{
    background-color: white;
}

.container-fluid{
    background-color: white;
}

h3{
    text-align: center;
}

h5{
    text-align: center;
}

h6{
    text-align: center;
}

#logoLoja{
    width: 100%;
}

#logoLoja{
    margin-bottom: 30px ;
}

#tituloDestaque{
    margin-bottom: 30px;
}

#rodape{
    padding-top: 50px;
    background-color: darkgrey;
    color: white;
}

#receba{

}